.root {
  width: 100%;
  min-height: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  background-image: url("../shared/assets/img/bg-1.png");
  background-repeat: no-repeat;
  background-size: cover;
}