@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url("../shared/assets/fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

* {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}
