.homePage {
  color: #062a54;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 100%;

  a {
    color: #06c;

    &:hover {
      color: rgb(40, 123, 207);
    }
  }
}

.parallaxBackground {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.loginForm {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
  z-index: 1;
  border-radius: 12px;
  background: white;
  padding: 20px;
  overflow-y: auto;

  &Instance {
    width: 100%;
  }
}

.userListItem {
  width: 100%;
  max-width: 1200px;
}