<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Баланс Платформа</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1,width=device-width" />
  </head>

  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <div id="root" class="root"></div>
  </body>
</html>
