<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no,initial-scale=1,maximum-scale=5,minimum-scale=1,width=device-width"
    />
    <title>Баланс Платформа</title>
  </head>

  <body>
    <div id="root" class="root"></div>
  </body>
</html>
